@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
}
:root{
  --blue: rgb(93,188,252);
}
body{
  background-color: #1b1b1b;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}
